---
import { allPlaylists, playlists, songs } from "@/lib/data";
import Layout from "../../layouts/Layout.astro";
import { MusicsTable } from "@/components/MusicsTable/MusicsTable";
import { CardPlayButton } from "@/components/utils/CardPlayButton";

const { id } = Astro.params;

const playlist = allPlaylists.find((playlist) => playlist.id === id);
const playlistSongs = songs.filter(
  (song) => song.albumId === playlist?.albumId
);
---

<Layout title=`Playlist ${playlist?.title}`>
  <div
    id="playlist-container"
    class="relative flex flex-col h-full bg-zinc-900 overflow-x-hidden"
    style={`background-color: ${playlist?.color.accent}`}
    transition:name=`playlist ${id} box`
  >
    <!-- PageHeader -->
    <header class="flex flex-row gap-8 px-6 mt-12">
      <picture
        class="aspect-square player:w-52 player:h-52 w-32 h-32 flex-none"
      >
        <img
          src={playlist?.cover}
          alt={`Cover of ${playlist?.title}`}
          class="object-cover w-full h-full shadow-lg"
          transition:name={`playlist ${playlist?.id} image`}
        />
      </picture>

      <div class="flex flex-col justify-between">
        <h2 class="flex flex-1 items-end mb-4">Playlist</h2>
        <div>
          <h1
            class="title-clamp font-extrabold block text-white text-xl player:text-6xl"
          >
            {playlist?.title}
          </h1>
          <span transition:name={`playlist ${playlist?.id} title`}></span>
        </div>

        <div class="flex-1 flex items-end">
          <div class="text-sm text-gray-300 font-normal">
            <div transition:name=`playlist ${id} artists`>
              <span>{playlist?.artists.join(" • ")}</span>
            </div>
            <p class="mt-1">
              <span class="text-white">{playlists.length} canciones</span>, 3H
              aproximadamente
            </p>
          </div>
        </div>
      </div>
    </header>
    <div class="player:bg-black/20 bg-black/0 mt-5 h-full">
      <div class="w-full px-[1.35rem] mt-6">
        <CardPlayButton size="lg" id={playlist?.id} client:load />
      </div>
      <!-- -->
      <section class="p-6">
        <MusicsTable songs={playlistSongs} client:load />
      </section>
      <div
        class="absolute -z-10 inset-0 bg-gradient-to-t from-zinc-900 via-zinc-900/80"
      >
      </div>
    </div>
  </div>
</Layout>

<style is:global>
  @media (max-width: 1000px) {
    table thead tr > #album-th {
      display: none;
    }
    #album-td {
      display: none;
    }
  }
</style>
